[submodule "crates/wei-ui"]
	path = crates/wei-ui
	url = git@github.com:zuiyue-com/wei-ui.git
[submodule "crates/wei-task"]
	path = crates/wei-task
	url = git@github.com:zuiyue-com/wei-task.git
[submodule "crates/wei-qbittorrent"]
	path = crates/wei-qbittorrent
	url = git@github.com:zuiyue-com/wei-qbittorrent.git
[submodule "crates/wei-forward"]
	path = crates/wei-forward
	url = git@github.com:zuiyue-com/wei-forward.git
[submodule "crates/wei-run"]
	path = crates/wei-run
	url = git@github.com:zuiyue-com/wei-run.git
[submodule "crates/wei-env"]
	path = crates/wei-env
	url = git@github.com:zuiyue-com/wei-env.git
[submodule "crates/wei-server"]
	path = crates/wei-server
	url = git@github.com:zuiyue-com/wei-server.git
[submodule "crates/wei-updater"]
	path = crates/wei-updater
	url = git@github.com:zuiyue-com/wei-updater.git
[submodule "crates/wei-docker"]
	path = crates/wei-docker
	url = git@github.com:zuiyue-com/wei-docker.git
[submodule "crates/wei-docker-install"]
	path = crates/wei-docker-install
	url = git@github.com:zuiyue-com/wei-docker-install.git
[submodule "crates/wei-daemon"]
	path = crates/wei-daemon
	url = git@github.com:zuiyue-com/wei-daemon.git
[submodule "crates/wei-download"]
	path = crates/wei-download
	url = git@github.com:zuiyue-com/wei-download.git
[submodule "crates/wei-build"]
	path = crates/wei-build
	url = git@github.com:zuiyue-com/wei-build.git
[submodule "crates/wei-sd"]
	path = crates/wei-sd
	url = git@github.com:zuiyue-com/wei-sd.git
[submodule "crates/wei-log"]
	path = crates/wei-log
	url = git@github.com:zuiyue-com/wei-log.git
[submodule "crates/wei-hardware"]
	path = crates/wei-hardware
	url = git@github.com:zuiyue-com/wei-hardware.git
